@{
    ViewData["Title"] = "Dashboard";
    bool alreadyFollowing = false;
    bool alreadyLiked = false;
    bool empty = true;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<partial name="_Header"></partial>

@model Comment

<body>
    <div class="text-center container">
        <form action="/Search" method="post" class="m-1">
            <input type="text" name="Search" placeholder="Find Users" class="searchbox white">
            <input type="submit" value="Search" class="btn srchbtn">
        </form>
        <div class="d-flex">
            <div class="feed">
                @foreach (Connection c in ViewBag.LoggedUser.Following)
                {
                    @foreach (Post p in c.UserFollowed.CreatedPosts)
                    {
                        @foreach (Like l in ViewBag.LoggedUser.Likes)
                        {
                            if (l.PostId == p.PostId)
                            {
                                alreadyLiked = true;
                            }
                        }
                        if (alreadyLiked)
                        {
                            <div class="post white">
                                <div class="d-flex  align-items-center white">
                                    <img class="postimg" src="~/images/ProfilePic.jpg" alt="">
                                    <p class="white"><a class="f-15 name white" href="/Profile/@c.UserFollowed.UserId">
                                            @c.UserFollowed.FirstName @c.UserFollowed.LastName</a></p>
                                </div>
                                <p class="white f-15">@p.PostText </p>
                                <p class="white f-15">@p.CreatedAt.ToShortDateString() @p.CreatedAt.ToShortTimeString() <a
                            class="white" href="/Unlike/@p.PostId">Un-Like</a></p>
                                @if (p.Likes.Count() == 1)
                                {
                                    <p class="f-15 white">@p.Likes.Count() like</p>
                                }
                                else
                                {
                                    <p class="f-15 white">@p.Likes.Count() likes</p>
                                }
                                <form class="white white2" action="/postComment" method="post">
                                    <input asp-for="CommentText">
                                    <input asp-for="UserId" hidden value="@ViewBag.LoggedUser.UserId">
                                    <input asp-for="PostId" hidden value="@p.PostId">
                                    <input class=" p-1" type="submit" value="Comment">
                                </form>
                                <a class="white" href="ViewPost/@p.PostId"><button class="white m-1 p-1">View Comments</button></a>
                            </div>
                        }
                        else
                        {
                            <div class="post white">
                                <div class="d-flex align-items-center white">
                                    <img class="postimg" src="~/images/ProfilePic.jpg" alt="">
                                    <p class="white"><a class="f-15 name white" href="/Profile/@c.UserFollowed.UserId">
                                            @c.UserFollowed.FirstName @c.UserFollowed.LastName</a> </p>
                                </div>
                                <p class="f-15 white">@p.PostText</p>
                                <p class="f-15 white">@p.CreatedAt.ToShortDateString() @p.CreatedAt.ToShortTimeString()<a
                            class="white" href="/Like/@p.PostId">Like</a></p>
                                @if (p.Likes.Count() == 1)
                                {
                                    <p class="f-15 white">@p.Likes.Count() like</p>
                                }
                                else
                                {
                                    <p class="f-15 white">@p.Likes.Count() likes</p>
                                }
                                <form class="white white2" action="/postComment" method="post">
                                    <input asp-for="CommentText">
                                    <input asp-for="UserId" hidden value="@ViewBag.LoggedUser.UserId">
                                    <input asp-for="PostId" hidden value="@p.PostId">
                                    <input class="p-1" type="submit" value="Comment">
                                </form>
                                <a class="white" href="ViewPost/@p.PostId"><button class="white m-1 p-1">View Comments</button></a>
                            </div>
                        }
                        {
                            alreadyLiked = false;
                            empty = false;
                        }
                    }
                }
                @if (empty == true)
                {
                    <h1>No Posts to Show</h1>
                }
            </div>

            <div>
                <h2>Follow Suggestions</h2>
                @foreach (User u in ViewBag.allUsers)
                {
                    if (u.UserId != Context.Session.GetInt32("user"))
                    {
                        @foreach (Connection c2 in ViewBag.LoggedUser.Following)
                        {
                            if (c2.UserFollowed.FirstName == u.FirstName)
                            {
                                { alreadyFollowing = true; }
                            }
                        }
                        if (alreadyFollowing == false)
                        {
                            <div class="post white white2 container text-center" style="width: 75%;">
                                <div class="d-flex align-items-center justify-content-center white">
                                    <img class="postimg" src="~/images/ProfilePic.jpg" alt="">
                                    <a class="follow-text hover" href="Profile/@u.UserId"> @u.FirstName @u.LastName</a>
                                </div>
                            </div>
                        }
                    }
                    { alreadyFollowing = false; }
                }
            </div>
        </div>
    </div>
</body>

</html>