@{
    ViewData["Title"] = "Profile";
    bool isfollowing()
    {
        @foreach (Connection c in ViewBag.User.Followers)
        {
            if (c.Follower.UserId == ViewBag.LoggedUser.UserId)
            {
                return true;
            }
        }
        return false;
    }
    bool isLiked(Post post)
    {
        @foreach (Like like in ViewBag.loggedUser.Likes)
        {
            if (like.PostId == post.PostId)
            {
                return true;
            }
        }
        return false;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<partial name="_Header"></partial>
@model Comment


<body class="back ">
    <div class="postContainer">
        <div class="userContainer">
            <div class="d-flex">
                <img class="pfp" src="~/images/ProfilePic.jpg" alt="profile Pic">
                <div>
                    <h1 class="name">@ViewBag.User.FirstName @ViewBag.User.LastName</h1>
                    <p class="unset profileText">posts: @ViewBag.User.CreatedPosts.Count</p>
                    <p><a class="unset profileText" href="/FollowingList/@ViewBag.User.UserId"> Following:
                            @ViewBag.User.Following.Count</a></p>
                    <p><a class="unset profileText" href="/FollowersList/@ViewBag.User.UserId">Followers:
                            @ViewBag.User.Followers.Count</a></p>
                </div>
                @if (ViewBag.LoggedUser.UserId != ViewBag.User.UserId)
                {
                    @if (isfollowing() == false)
                    {
                        <h2 class="followText"><a style="color: white;" href="/Follow/@ViewBag.User.UserId">Follow </a></h2>
                    }
                    else
                    {
                        <h2 class="followText"><a style="color: white;" href="/Unfollow/@ViewBag.User.UserId">Un-Follow </a></h2>
                    }
                }
                else
                {
                <a style="margin:0 auto;" href="/EditProfile"></a>
                <i onclick="window.location.assign('/EditProfile')" class="bi bi-gear-fill"></i>
                }
            </div>

            <p class="profileText">Bio: @ViewBag.User.Bio</p>
            <p class=" profileText">Location: @ViewBag.User.Location </p>
            <a class="followText" href="/LikesList/@ViewBag.User.UserId">View Likes</a>
        </div>
        <h1 style="text-align: center;">@ViewBag.User.FirstName's Posts </h1>
        @if (ViewBag.User.UserId == ViewBag.LoggedUser.UserId)
        {
            <i onclick="window.location.assign('/NewPost')" class="bi bi-pencil-square"></i>
        }
        @foreach (Post post in ViewBag.User.CreatedPosts)
        {
            <div class="post ">
                <div class="d-flex justify-content-between ">
                    <div class="d-flex align-items-center">
                        <img class="postimg" src="~/images/ProfilePic.jpg" alt="">
                        <p>@ViewBag.User.FirstName @ViewBag.User.LastName</p>
                    </div>
                    <p class="date"> @post.CreatedAt.ToShortDateString() @post.CreatedAt.ToShortTimeString()</p>
                </div>
                <p class="postText ">@post.PostText</p>
                <div class="postBottom">
                    @if (isLiked(post))
                    {
                        <a href="/Unlike/@post.PostId"><i class="bi bi-heart-fill"></i></a>
                    }
                    else
                    {
                        <a href="/Like/@post.PostId"><i class="bi bi-heart"></i></a>
                    }
                    @if (post.Likes.Count() == 1)
                    {
                        <p class="inline">@post.Likes.Count() like</p>
                    }
                    else
                    {
                        <p class="inline">@post.Likes.Count() likes</p>
                    }
                    <form id="commentForm" class=" 2" action="/postComment" method="post">
                        <input placeholder="Add a Comment" asp-for="CommentText">
                        <input asp-for="UserId" hidden value="@ViewBag.LoggedUser.UserId">
                        <input asp-for="PostId" hidden value="@post.PostId">
                        <i onclick="submitHandler(`commentForm`)" class="bi bi-send"
                            style="color: white; cursor:pointer;"></i>
                    </form>
                </div>
                <a class="unset" style="text-align: center;" href="/ViewPost/@post.PostId"> View @post.Comments.Count Comments</a>
                @if (ViewBag.User.UserId == ViewBag.LoggedUser.UserId)
                {
                    <i  onclick="window.location.assign('/RemovePost/@post.PostId' )" class="bi bi-trash3"></i>
                }
            </div>
        }
    </div>

</body>

</html>