
@{
    ViewData["Title"] = "Profile";
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<partial name="_Header"></partial>

<body>
    <div class="row">
        <div class="col-6">
            <h1>@ViewBag.User.FirstName @ViewBag.User.LastName</h1>
            <img class="pfp" src="~/images/ProfilePic.jpg" alt="profile Pic">
            <p>Bio: @ViewBag.User.Bio</p>
            <p>Location: @ViewBag.User.Location </p>
            @if(ViewBag.User.UserId==Context.Session.GetInt32("user"))
            {
                <p><a href="/EditProfile">Edit Profile</a></p>
            }
        </div>
        <div class="col-6">
            @if(ViewBag.User.UserId==Context.Session.GetInt32("user"))
            {
                <h3><a href="/NewPost">Create a post</a> </h3>
                <h1>Your Posts Here</h1>
            }
            else{
                <h1>@ViewBag.User.FirstName's Posts </h1>
            }
            @foreach (Post p in ViewBag.User.CreatedPosts)
            {
                <h3>@p.PostText</h3>
                <p>Made on: @p.CreatedAt</p>
            }
        </div>
        <div><a href="/FollowingList/@ViewBag.User.UserId"> Following</a></div>
    </div>
</body>
</html>